<div id="left">
  <img src="/images/janey-blue-silk.jpg" alt="Rossetti - Jane Morris (The Blue Silk Dress)" width="220" height="274" />
  <div class="caption">
    <strong>Jane Morris (The Blue Silk Dress)</strong><br/>
    by Dante Gabriel Rossetti<br />
    oil on canvas, dated 1868<br />
    Kelmscott Manor
  </div>
		
  <img src="/images/beata-beatrix.jpg" alt="Rossetti - Beata Beatrix" width="220" height="286" />
  <div class="caption">
    <strong>Beata Beatrix</strong><br />
    by Dante Gabriel Rossetti<br />
    oil on canvas, 1864-70<br />
    Tate Gallery,London
  </div>

</div>