<div id="left">
  <img src="/images/topsy2.jpg" alt="William Morris" width="220" height="263" border="0">
  <div class="caption">
    William Morris<br />
  </div>

  <img src="/images/hunt-rossetti.jpg" alt="Dante Gabriel Rossetti" width="220" height="315" border="0">
  <div class="caption">
    Dante Gabriel Rossetti<br/>
    by William Holman Hunt<br/>
    oli on canvas, 1853
  </div>
		
  <img src="/images/rossetti_proserpine.jpg" alt="Rossetti - Proserpine" width="220" height="459" />
  <div class="caption">
    <strong>Proserpine</strong><br/>
    by Dante Gabriel Rossetti<br />
    oil on canvas, 1877<br />
    Private collection, London
  </div>
</div>