<div id="left">
		
  <div class="caption">
    <strong>REHEARSAL STILLS FROM THE OXFORD PLAYHOUSE WORKSHOP</strong>
  </div>  

    <img src="/images/oxford/rehearsal/220/DSC7273.jpg" alt="Anna Francolini as Janey" width="220" height="330" border="0">
    <div class="caption">
      <strong>Matthew White</strong> as Topsy, <strong>Joseph Millson</strong> as Gabriel, <strong>Anna Francolini</strong> as Janey<br />
    </div>

    <img src="/images/oxford/rehearsal/220/DSC7287.jpg" alt="Caroline Sheen as Lizzie, Walter van Dyk as Gabriel" width="220" height="147" border="0">
    <div class="caption">
      <strong>Natalie Wright</strong> as Bessie, <strong>Anna Francolini</strong> as Janey, <strong>Martin Lamb</strong> as Mr.Carter, <strong>Lizzie Renihan</strong> as Lizzie<br />
    </div>

    <img src="/images/oxford/rehearsal/220/DSC7406.jpg" alt="Anna Fancolini as Janey, Walter van Dyk as Gabriel" width="220" height="147" border="0">
    <div class="caption">
      <strong>Joseph Millson</strong> as Gabriel, <strong>Anna Francolini</strong> as Janey<br />
    </div>

    <img src="/images/oxford/rehearsal/220/DSC7479.jpg" alt="Peter Polycarpou as Topsy, Anna Fancolini as Janey" width="220" height="328" border="0">
    <div class="caption">
      <strong>Joseph Millson</strong> as Gabriel, <strong>Anna Francolini</strong> as Janey<br />
    </div>

  </div>
