<div id="left">
  <img src="/images/photo-kelmscott3.jpg" alt="Kelmscott Manor" width="220" height="165" />
		
  <div class="caption">
    <strong>Kelmscott Manor</strong><br />
  </div>
		
  <img src="/images/janey-blue-silk.jpg" alt="Rossetti - Jane Morris (The Blue Silk Dress)" width="220" height="274" />
  <div class="caption">
    <strong>Jane Morris (The Blue Silk Dress)</strong><br/>
    by Dante Gabriel Rossetti<br />
    oil on canvas, dated 1868<br />
    Kelmscott Manor
  </div>
		
  <div class="caption">
    <strong>PRODUCTION STILLS FROM THE GREENWICH THEATRE SHOWCASE</strong>
  </div>  
		
  <img src="/images/video-frames/janey015.jpg" alt="Anna Francolini as Janey" width="220" height="121" border="0">
  <div class="caption">
    <strong>Anna Francolini</strong> as Janey<br />
  </div>

  <img src="/images/video-frames/gabriel007.jpg" alt="Caroline Sheen as Lizzie, Walter van Dyk as Gabriel" width="220" height="121" border="0">
  <div class="caption">
    <strong>Caroline Sheen</strong> as Lizzie, <strong>Walter van Dyk</strong> as Gabriel<br />
  </div>

  <img src="/images/video-frames/janey016.jpg" alt="Anna Fancolini as Janey, Walter van Dyk as Gabriel" width="220" height="121" border="0">
  <div class="caption">
    <strong>Anna Francolini</strong> as Janey, <strong>Walter van Dyk</strong> as Gabriel<br />
  </div>
			
  <img src="/images/video-frames/topsy009.jpg" alt="Peter Polycarpou as Topsy, Anna Fancolini as Janey" width="220" height="121" border="0">
  <div class="caption">
    <strong>Anna Francolini</strong> as Janey, <strong>Peter Polycarpou</strong> as Topsy<br />
  </div>
						
  <img src="/images/video-frames/carter018.jpg" alt="Natalie Wright as Bessy, Andrew MacDonald as Mr. Carter" width="220" height="121" border="0">
  <div class="caption">
    <strong>Natalie Wright</strong> as Bessy, <strong>Andrew MacDonald</strong> as Mr. Carter<br />
  </div>
			
  <img src="/images/la-donna-della-finestra.jpg" alt="Rossetti - La Donna Della Finestra" width="220" height="243" border="0">
  <div class="caption">
    <strong>La Donna Della Finestra</strong><br />
    by Dante Gabriel Rossetti<br />
    oil on an Indian red ground, 1881<br/>
    Birmingham City Museum and Art Gallery
  </div>
		
  <img src="/images/tristan-glass.jpg" alt="Rossetti - Tristan and Isolde drink the love potion" width="220" height="239" />
  <div class="caption">
    <strong>Tristram and La Belle Isoude drink the love potion</strong><br />
    Dante Gabriel Rossetti<br/>
    stained glass by Morris and Co. 1862 for Harden Grange<br/>
  </div>		
			
</div>