<div id="left">
  <div class="caption">
    <strong>PRODUCTION STILLS FROM THE GREENWICH THEATRE SHOWCASE</strong>
  </div>  

  <img src="/images/video-frames/janey015.jpg" alt="Anna Francolini as Janey" width="220" height="121" border="0">
  <div class="caption">
    <strong>Anna Francolini</strong> as Janey<br />
  </div>

  <img src="/images/video-frames/gabriel007.jpg" alt="Caroline Sheen as Lizzie, Walter van Dyk as Gabriel" width="220" height="121" border="0">
  <div class="caption">
    <strong>Caroline Sheen</strong> as Lizzie, <strong>Walter van Dyk</strong> as Gabriel<br />
  </div>

  <img src="/images/video-frames/janey016.jpg" alt="Anna Fancolini as Janey, Walter van Dyk as Gabriel" width="220" height="121" border="0">
  <div class="caption">
    <strong>Anna Francolini</strong> as Janey, <strong>Walter van Dyk</strong> as Gabriel<br />
  </div>
</div>
