<div id="left">

  <img src="/images/rossetti_proserpine.jpg" alt="Rossetti - Proserpine" width="220" height="459" />
  <div class="caption">
    <strong>Proserpine</strong><br />
    by Dante Gabriel Rossetti<br />
    oil on canvas, 1874<br />
    Tate Gallery
  </div>

  <img src="/images/janey-blue-silk.jpg" alt="Rossetti - Jane Morris (The Blue Silk Dress)" width="220" height="274" />
  <div class="caption">
    <strong>Jane Morris (The Blue Silk Dress)</strong><br/>
    by Dante Gabriel Rossetti<br />
    oil on canvas, dated 1868<br />
    Kelmscott Manor
  </div>		

</div>