<div id="left">
  <img src="/images/janey-seated.jpg" alt="Photograph - Jane Morris seated" width="220" height="237" />
  <div class="caption">
    <strong>Jane Morris seated, leaning forward</strong><br />
    photograph by John Robert Parsons<br />
    Birmingham Museums &amp; Art Gallery 
  </div>
		
  <img src="/images/hunt-rossetti.jpg" alt="Dante Gabriel Rossetti" width="220" height="315" border="0">
  <div class="caption">
    <strong>Dante Gabriel Rossetti</strong><br/>
    by William Holman Hunt<br/>
    oli on canvas, 1853
  </div>
		
  <img src="/images/topsy2.jpg" alt="William Morris" width="220" height="263" border="0">
  <div class="caption">
    <strong>William Morris</strong><br />
  </div>
		
  <img src="/images/janey-blue-silk.jpg" alt="Rossetti - Jane Morris (The Blue Silk Dress)" width="220" height="274" />
  <div class="caption">
    <strong>Jane Morris (The Blue Silk Dress)</strong><br/>
    by Dante Gabriel Rossetti<br />
    oil on canvas, dated 1868<br />
    Kelmscott Manor
  </div>
		
  <img src="/images/beata-beatrix.jpg" alt="Rossetti - Beata Beatrix" width="220" height="286" />
  <div class="caption">
    <strong>Beata Beatrix</strong><br />
    by Dante Gabriel Rossetti<br />
    oil on canvas, 1864-70<br />
    Tate Gallery,London
  </div>
</div>